<main>
    <div class="container">
        <h1>Formulário de Contato</h1>
        <form action="/add" method="POST">
            <div>
                <div class="form-control">
                <label for="Nome">Nome</label>
                <input type="text" name="nome" class="form-control" placeholder="Nome...">
                </div>
            </div><br>
            <div>
                <div class="form-control">
                <label for="Sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome...">
                </div>
            </div><br>
            <div>
                <div class="form-control">
                <label for="Idade">Data de nascimento</label>
                <input type="text" name="nascimento" class="form-control" required maxlength="10" placeholder="Ex: 01/03/1994">
            </div>
            </div><br>

            <div>
                <div class="form-control">
                <label for="Telefone">Telefone</label>
                <input type="text" name="telefone" class="form-control" maxlength="10" required placeholder="Telefone...">
             </div>
            </div><br>

            <div class="form-group">
                <div class="form-control">
                <label for="cep">CEP</label>
                <input type="text" name="cep" class="form-control" maxlength="9" id="cep" required placeholder="Cep...">
             </div>
            </div><br>
            <div class="form-group">
                <div class="form-control">
                <label for="logradouro">Logradouro</label>
                <input type="text" name="logradouro" class="form-control" id="logradouro" placeholder="Logradouro...">
            </div>
            </div><br>
            <div class="form-group">
                <div class="form-control">
                <label for="bairro">Bairro</label>
                <input type="text" name="bairro" class="form-control" id="bairro" placeholder="Bairro...">
               </div>
            </div><br>
            <div class="form-group">
                <div class="form-control">
                <label for="localidade">Localidade</label>
                <input type="text" name="localidade" class="form-control" id="localidade" placeholder="Localidade...">
              </div>
            </div> <br>
            <div class="form-group">
                <div class="form-control">
                <label for="uf">UF</label>
                <input type="text" name="uf" class="form-control" id="uf" placeholder="Uf...">
            </div>
            </div><br>
            <input type="submit" onclick="funcao1()" value="Enviar" />  

        </form>
        
    </div>
    </main>